html {
    font-family: Helvetica;
    color: #4f4f4f;
}

.underlined-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #376bc4;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

.underlined-input-contrast {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    background-color: #376bc4;
    color: #ffffff;
}

.underlined-input-contrast::placeholder {
    color: #ffffff;
}

.medium-font {
    font-size: 1.3em;
}

.text-accent {
    color: #376bc4;
}

.text-contrast {
    color: #ffffff;
}

.text-error {
    color: #a33654;
}

div#page-header {
    background-color: #376bc4;
    height: 5em;
    border: 1px solid #376bc4;
    border-radius: 4px;
}

.no-text-decoration {
    text-decoration: none;
}

#header-title {
    float: left;
    margin-left: 1em;
}

#header-logout-button {
    float: right;
    margin-right: 1em;
    font-size: 1.2em !important;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.button {
    border: 2px solid #376bc4;
    border-radius: 4px;
    background-color: #ffffff;
    color: #376bc4;
    font-size: 1.5em;
    display: block;
    padding: 5px 10px;
}

.button:hover {
    background-color: #376bc4;
    color: #ffffff;
}

.button-contrast {
    border: 2px solid #ffffff;
    background-color: #376bc4;
    color: #ffffff;
}

.button-contrast:hover {
    background-color: #ffffff;
    color: #376bc4;
}

.small-top-margin {
    margin-top: 1em;
}

.center-horizontal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainSearchInput {
    width: 30vw;
}

.table-alternating-rowcols td {
    padding: 1em 1em;
}

.table-alternating-rowcols tr:nth-child(even) {
    background-color: #ffffff;
}

.table-alternating-rowcols tr:nth-child(odd) {
    background-color: #dddddd;
}

.table-alternating-rowcols th {
    background-color: #376bc4;
    border: 1px solid #376bc4;
    border-radius: 10px;
}

.table-alternating-rowcols th a {
    text-decoration: none;
    color: #ffffff;
}

#button-back {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 8vh;
    text-decoration: none;
}

.no-list-style {
    list-style-type: none;
}

.block {
    display: block;
}

.separator {
    border-bottom: 1px solid black;
}

.separator-short {
    border-bottom: 1px solid black;
    width:50%;
    margin: 0 auto;
}

.bold-text {
    font-weight: bold;
}

.medium-bottom-margin {
    margin-bottom: 4em;
}
