input {
    display: block !important;
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
}

button {
    margin: auto;
    margin-top: 1.5em;
}

div#login-panel {
    background-color: #376bc4;
    width: 25vw;
    height: 50vh;
    margin: auto;
    margin-top: 25vh;
    border: 1px solid #376bc4;
    border-radius: 4px;
}

h1 {
    margin-bottom: 2em;
}