{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fileDetails.css' %}" />

    <title>{{ file.title }}</title>
</head>
<body>
    {% include 'header.html' %}

    <h1 id="file-title" class="text-center">'{{ file.title }}'</h1>

    <a href="/" id="button-back" class="button">Back to overview</a>
    <a href="/file/edit?file={{ file.id }}" id="button-edit" class="button">Edit</a>
    <a href="/file/download?file={{ file.id }}" id="button-download" target="_blank" class="button">Download</a>

    <span class="block"></span>

    <div id="info-panel">
        <h2>Summary</h2>

        <ul>
            <li>Created: {{ file.created_at }}</li>
            <li>Last modified: {{ file.modified_at }}</li>
            <li>File type: {{ file.type }}</li>
            <li>Description: {{ file.description }}</li>
        </ul>
    </div>

    <div id="file-preview">
        {{ fileRendering }}
    </div>
</body>
</html>