{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fileEdit.css' %}" />

    {% if fileId >= 0 %}
        <title>Edit file</title>
    {% else %}
        <title>Create new file</title>
    {% endif %}
</head>
<body>
    {% include 'header.html' %}

    {% if file and fileId >= 0 %}
        <h1 class="text-center">Edit '{{ file.title }}'</h1>
        <a href="/file/details?file={{ fileId }}" id="button-back" class="button">Back to details</a>
        <div id="button-delete">
            <form action="/file/delete" method="post">
                <input type="hidden" name="fileId" value="{{ file.id }}" />
                <button type="submit" class="button">Delete</button>
                {% csrf_token %}
            </form>
        </div>
    {% else %}
        <h1 class="text-center">Create new file</h1>
        <a href="/" id="button-back" class="button">Back to overview</a>
    {% endif %}

    <form action="/file/edit" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="text" class="underlined-input" name="title" placeholder="Title" maxlength="64"
               value="{% if file %}{{ file.title }}{% else %}{% endif %}" />
        <textarea name="description" placeholder="Description" class="underlined-input" maxlength="512">{% if file %}{{ file.description }}{% else %}{% endif %}</textarea>
        <input type="file" name="data" />

        <input type="hidden" name="id" value="{{ fileId }}" />

        {% if errors %}
            <ul class="no-list-style">
                {% for error in errors %}
                    <li class="text-center text-error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% else %}
        {% endif %}

        <button type="submit" class="button">{% if fileId >= 0 %}Save{% else %}Create{% endif %}</button>
    </form>
</body>
</html>