#button-download {
    display: inline-block;
    float: right;
    margin-top: 8vh;
}

#button-edit {
    display: inline-block;
    float:right;
    margin-top: 8vh;
    margin-left: 1em;
}

#file-title {
    margin-left: 8em;
    margin-right: 8em;
}

#info-panel {
    background-color: #376bc4;
    border: 1px solid #376bc4;
    border-radius: 4px;
    width: 30vw;
    color: #ffffff;
    padding: 0 1em;
    margin-top: 2.5vh;
    display: inline-block;
}

#info-panel ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.5em;
}

#file-preview {
    float: right;
    width: 65vw;
    height: 100vh;
    margin-top: 2.5vh;
}

.file-preview-content {
    position: relative;
    width: 100%;
    height: 100%;
}