{% load static %}
{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />

    <title>QMSE</title>
</head>
<body>
    {% include 'header.html' %}

    <form action="/" method="post">
        {% csrf_token %}
        <div class="center-horizontal">
            <input type="text"
                   name="q"
                   placeholder="Search for anything..."
                   class="underlined-input medium-font small-top-margin center-horizontal mainSearchInput" />
            <button id="mainSearchButton" type="submit" class="button">Search</button>
        </div>
    </form>

    <a href="/file/edit" id="button-upload" class="button">Upload new file</a>

    {% if query is not None %}
        {% if searchResults|length > 0 %}
            <h2 class="text-center">Search results for '{{ query }}'</h2>
        {% else %}
            <h2 class="text-center">Your query '{{ query }}' could not be understood. Please try to rephrase it.</h2>
        {% endif %}

        <div class="separator-short"></div>

        {% for searchResult in searchResults %}
            {% if searchResults|length > 1 %}
                <h2 class="text-center">{{ searchResult.sentenceString }}</h2>
            {% endif %}
            <p class="text-center search-result-title">{{ searchResult.title }}</p>
            <div class="medium-bottom-margin">
                {% render_table searchResult.data %}
            </div>
        {% endfor %}
    {% else %}
        {% render_table fileTable %}
    {% endif %}
</body>
</html>