<h2>{{ subject }}</h2>

<p><span class="bold-text">From:</span> {{ from }}</p>

<p><span class="bold-text">To:</span> {{ to }}</p>

{% if cc != None and cc != "" %}
    <p><span class="bold-text">CC:</span> {{ cc }}</p>
{% endif %}

{% if bcc != None and bcc != "" %}
    <p><span class="bold-text">BCC:</span> {{ bcc }}</p>
{% endif %}

<p><span class="bold-text">Date/Time:</span> {{ datetime }}</p>

<div class="separator"></div>

{% with safe_text=text|safe %}
<p>{{ safe_text|linebreaks}}</p>
{% endwith %}