<div id="page-header">
    <h1><a href="/" id="header-title" class="no-text-decoration text-contrast">QMSE</a></h1>
    <a href="/logout" id="header-logout-button" class="button button-contrast">Logout {{ user.username }}</a>
</div>